<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>CS205 Final Project: Teleporting Parallel MCMC</title>
    <link href='/images/favicon.ico' rel='shortcut icon'/>
    <!-- <meta property="og:image" content="/images/ogimage.png"/> -->
    <%= stylesheet_link_tag "normalize", "all" %>
  </head>

  <body class="<%= page_classes %>" data-spy='scroll' data-target='.scrollspy'>
    <div class='container'>
      <%= yield %>
    </div>
  </body>

  <%= javascript_include_tag "all" %>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</html>
